<p class="text-center text-muted">&copy; Copyright 2020 The Awesome People</p>

<!-- custom javascript file link  -->
<!-- bootstrap js file already loaded in index.js file -->
<script src="js/popper.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/app.js"></script>
</body>
</html>