<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbotron">
   <h2>Hi this is about us <i class="ri-page-separator"></i></h2>





  </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>
